.stack {
  gap: 40px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  margin-top: 90px;
}
.image {
  width: 100%;
  object-fit: contain;
}
.image-tablet {
  display: none;
  width: 100%;
  object-fit: contain;
}
.image-mobile {
  display: none;
  width: 100%;
  object-fit: contain;
}
.image-info {
  width: 37%;
  object-fit: contain;
}
.text {
  margin-top: 30px;
  font-family: var(--font-text);
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 866px;
}
.desktop {
  margin-top: 90px;
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  gap: 40px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.notDesktop {
  display: none;
}
@media (max-width: 900px) {
  .stack {
    flex-direction: column;
  }
  .image {
    display: none;
  }
  .image-tablet {
    display: block;
  }
  .image-info {
    width: 100%;
    max-width: 400px;
    margin: auto;
  }
  .text {
    font-size: 20px;
    line-height: 24px;
  }
  .desktop {
    display: none;
  }
  .notDesktop {
    display: block;
  }
}
@media (max-width: 425px) {
  .image-tablet {
    display: none;
  }
  .image-mobile {
    display: block;
  }
  .text {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
  }
}
