.mechanics {
  padding-top: 100px;
  padding-bottom: 100px;
}

.mechanics__wrap {
  display: flex;
  gap: 45px;
}

.mechanics__item {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-basis: 33.3%;
  background: #0d0d0d;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to bottom,
    rgba(248, 248, 248, 0.24),
    rgba(53, 203, 51, 1)
  );
  padding: 40px 25px;
  text-align: center;
}

.title {
  margin-bottom: 60px;
}

@media all and (max-width: 768px) {
  .mechanics__wrap {
    flex-direction: column;
    gap: 30px;
  }
}
