.image {
  background-image: url('/images/landing/aboutTokenomic.png');
  background-size: cover;
  background-position: center;
  padding: 140px 0;
}
.container {
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
}
